*{
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    aside{
        width:100%;
    }

    .lista{
        width:100%;
    }

    h1{
        text-align: center;
    }

    article{
        width:100%;
    }

    #order{
        width:50%;
        height:60%;
    }



}

main {
    display: flex;
    flex-wrap: wrap;
    
}

body {
    font-family:Arial, Helvetica, sans-serif
}

#pizza1{
    width:100%;
}

#pizza2{
    width:100%;
}

#pizza3{
    width:100%;
}

#sas{
    width:100%;
}

#drink{
    width:100%;
}

h2{
    width:100%;
    text-align: center;
    background-color: #D3B786;
    color: black;
    margin-left: 10px;
    
}


.menylista{
    display: none;
}

#kvittolista{
    display: none;
}

.sort{
    font-size: 23px;
    width: 100% ;
}

#menu{
    width:30%;
}

h1{
    width: 100%;
    margin-left: 10px;
    
}

#klass1{
    margin-bottom: 20px;
}

#klass2{
    margin-bottom: 20px;
}

#klass3{
    margin-bottom: 20px;
}

#sauce{
    margin-bottom: 20px;
}

#dryck{
    margin-bottom: 20px;
}

#kvitto{
    font-size: 18px;
    padding:10px;
    margin-top: 10px;
    background-color: #D3B786;
    border: none;
    border-radius: 5px;
}

#order {
    align-items: center;
    border: 1px solid darkgray;
    /*width: 100%;*/
    /*height: 40%;*/
}

h3 {
    margin-left: 2px;
}

#store{
    padding:10px;
    background-color: #D3B786;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    
}

#p1, #p2, #p3, #p4, #p5{
    width:280%;
}

section {
    flex-wrap: nowrap;

    
}

/*article {
    width: 30%;
    margin-right: 100px;
}*/

aside {
    margin-right: 70px;
}
